{/* Update success message actions */}
<div class="success-actions">
  <a href="/" class="button primary">Return to Home</a>
  <button onclick="window.location.reload()" class="button secondary">Send Another Message</button>
</div>